{{>header}}
	<div class="container">
		<div id="tools"></div>
		<article data-rev="{{{rev}}}">
			<h1 id="title">{{{title}}}</h1>
			<div id="body">{{{body}}}</div>
		</article>
		{{#has_atts}}
		<div id="files">
		  <p>Files attached to <em>{{title}}</em>:</p>
		  <ul>
			{{#atts}}
			  <li><a href="{{uri}}">{{name}}</a> ({{type}})</li>
			{{/atts}}
		  </ul>
		</div>
		{{/has_atts}}
    </div>
  </body>
	<script src="/_utils/script/sha1.js"></script>
	<script src="/_utils/script/base64.js"></script>
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script-->
	<script src="/_utils/script/jquery.js"></script>
	<script src="/_utils/script/jquery.couch.js"></script>
	<script src="/_utils/script/jquery.form.js"></script>
	<script src="/_utils/script/jquery.dialog.js"></script>
	<script src="/!vendor/couchapp/jquery.couch.app.js"></script>
	<script src="/!vendor/couchapp/jquery.couchLogin.js"></script>
	<script src="/!vendor/couchapp/jquery.couch.app.util.js"></script>
	<script src="/!vendor/couchapp/jquery.mustache.js"></script>
	<script src="/!vendor/couchapp/jquery.pathbinder.js"></script>
	<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="http://hallojs.org/js/hallo.js"></script>
	<script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js"></script>
	<script src="/!script/app.js"></script>
</html>
