{{>header}}
	<div class="container">
		<div id="tools"></div>
		<article>
			<h1 id="title">{{{title}}}</h1>
			<div id="body">{{{body}}}</div>
		</article>
		{{#has_atts}}
		<div id="files">
		  <p>Files attached to <em>{{title}}</em>:</p>
		  <ul>
			{{#atts}}
			  <li><a href="{{uri}}">{{name}}</a> ({{type}})</li>
			{{/atts}}
		  </ul>
		</div>
		{{/has_atts}}
    </div>
  </body>
  <script src="/!script/myloader.js"></script>
  <script src="/_utils/script/base64.js"></script>
  <script src="/_utils/script/jquery.form.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</html>
